* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #755139;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
}
.left {
  min-width: 20%;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e6e1cc;
}
.left_top {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.name {
  padding: 40px 0;
}
.name_heading {
  font-size: 22px;
}

.name_sub_heading {
  font-size: 14px;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #e6e1cc;
  gap: 10px;
  font-size: 25px;
}
a {
  text-decoration: none;
  color: #e6e1cc;
}
li {
  list-style: none;
}
.fa-solid {
  width: 20px;
  margin: 10px;
}
.active {
  color: #755139;
  background: #e6e1cc;
  display: inline-table;
  width: 21vw;
}

.left_bottom {
  position: relative;
  background: #fff;
  width: 150px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  top: 13%;
}

.left_bottom_image {
  display: flex;
  width: 100px;
  height: 75px;
  justify-content: center;
  margin: 0 auto;
}

.right {
  background: #e6e1cc;
  width: 80%;
  height: 95vh;
  margin: 15px 15px 15px 0;
  border-radius: 20px;
}
.right-top {
  display: flex;
  justify-content: space-between;
  margin: 26px 36px;
}
.search {
  width: 75%;
}
.search input {
  font-size: 23px;
  border-radius: 19px;
  width: 88%;
  padding: 5px 29px;
}
.right-icons i {
  font-size: 35px;
}
.right-main {
  height: 83%;
  width: 96%;
  padding: 0vw 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.right-first {
  width: 48%;
}
.right-second {
  width: 48%;
}
.client-heading{
 display: flex;
 justify-content: space-between;

}
.client-heading h3{
  font-size: 25px;
  font-weight: 600;
}
.client-heading a{
  color: #000;
  margin-right: 31px;
}
.box {
  display: flex;
  flex-direction: row;
  background: #fff;
  border-radius: 22px;
  color: #000;
  padding: 5px;
  margin: 9px 14px;
}
.imgBx {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    overflow: hidden;
    margin-left: 20px;
}
.imgBx img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.couple{
  margin-left: 29px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.couple h4{
  font-size: 20px;
}
.couple p{
  font-size: 15px;
  color: #535353;
}
.Quick{
  margin-top: 18px;
}
.box1 {
  display: flex;
  flex-direction: row;
  background: #fff;
  border-radius: 22px;
  color: #000;
  padding: 10px 25px;
  margin: 9px 14px;
  justify-content: space-between;
}
.box1 h3{
  font-size: 20px;
  font-weight: 500;
}
.number {
  background: #755139;
  color: #fff;
  border-radius: 28%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number p{
  font-size: 26px;
}
.notifi{
  margin-bottom: 20px;
}
.notifications {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  color: var(--text_color);
  border-radius: 5px;
  font-family: "Nunito";
  box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 8px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--cta_color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wish_heading {
  display: flex;
  justify-content: space-between;
}
. clients {
  overflow: scroll;
}
.box2 {
  display: flex;
  flex-direction: row;
  background: #fff;
  border-radius: 22px;
  color: #000;
  padding: 5px;
  margin: 9px 14px;
}
.imgBx1 {
  width: 128px;
  height: 91px;
  border-radius: 20px;
    overflow: hidden;
    margin: 5px 19px 0px
}
.imgBx1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.date {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.couple > p{
  margin-top: 15px;
}
.couple-icons{
  display: flex;
  gap: 17px;
}
.couple-icons i{
  font-size: 27px;
}







@media screen and (min-width: 600px) {
}

.fa-square-whatsapp {
  font-size: 25px !important;
  position: relative;
}

.fa-mobile-retro {
  font-size: 22px !important;
  position: relative;
}










@media screen and (max-width: 768px) {
  body {
    background: #e6e1cc;
  }
  .main {
    flex-direction: column;
  }
  .left {
    min-width: 100%;
  }
  .left_top {
    background: #755139;
    width: 100%;
  }
  .name {
    padding: 5px 8px;
    justify-content: left;
    align-items: flex-start;
    margin: 0;
  }
  .name_heading {
    font-size: 17px;
  }
  .name_sub_heading {
    font-size: 10px;
  }
  .left_bottom {
    display: none;
  }
  .links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #755139;
  }
  .links ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 93%;
    padding: 0;
    margin: 0;
  }
  .links :where(li, a) {
    position: relative;
  }
  .links ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    width: 50px;
    font-size: 0.9rem;
  }
  .right {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
  .right-icons {
    position: absolute;
    flex-shrink: 0;
    top: 7px;
    right: 10px;
    filter: invert(1);
  }
  .right-icons i {
    font-size: 27px;
  }
  .right-top {
    margin: 9px 7px;
    background: #755139;
  }
  .right-top {
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    margin: 9px 7px;
    background: #755139;
  }
  .search {
    flex-grow: 1; 
    margin-right: 10px;
  }
  .search input {
    width: 100%; 
    font-size: 16px;
    border-radius: 9px;
    margin: 4px 9px;
  }
  .right-main {
    height: 83%;
    width: 96%;
    padding: 0vw 2vw;
    display: flex;
    flex-direction: column;
    justify-content: normal;
  }
  .right-first {
    width: 100%;
  }
  .right-second {
    width: 100%;
  }
}
